---
import HeaderLink from './HeaderLink.astro';
import '../styles/global.css';
---

<header class="px-4 py-8 md:px-6 md:py-10 lg:py-12">
	<div class="mx-auto w-full max-w-3xl">
		<nav class="grid grid-cols-1 justify-items-center gap-20">
			<div class="flex flex-wrap justify-center gap-10">
				<HeaderLink href="/">Articles</HeaderLink>
				<HeaderLink href="/about">About</HeaderLink>
				<HeaderLink href="/contact">Contact Me</HeaderLink>
			</div>
		</nav>
	</div>
</header>
